*{
    margin: 0px;
    padding: 0px;
}

.section, header{
    min-height: 100vh;
    padding: 30px;
}
header{
 height: 100vh;
 padding: 30px;
 display: block;
    background-image: url("https://czechmovie.com/cdn/shop/articles/krtecek_1.jpg?v=1682408193&width=1200");
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.links_container{
    display: flex;
    gap: 20px;
}

.links_container a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.links_container a:first-child{
    color: gold;
}

header h1 {
    color: gold;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    width: 60%;
    margin-top: 250px;
    margin-bottom: 100px;

}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card p{
    color: wheat;
}

.card{
    width: 200px;
    background-color: black;
    padding: 20px 30px;
}

.card h2 {
    color: wheat;
    
}

.card button{
    color: wheat;
    background-color: transparent;
    border: 1px solid gold;
    padding: 5px 50px;
}


#sec-2 .div1{
    grid-area:1/1/4/2;
}

#sec-2 img{
    width: 200px;
    height: 100%;
}
 
#sec-2 .div2{
    grid-area:1/2/2/4;
    background-color: brown;
    padding: 10%;
}

#sec-2 .div3{
    grid-area:2/2/3/4;
    background-color: cadetblue;
    padding: 10%;
}

#sec-2
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 20px;
    width: 300px;
    height: 350px;
    justify-content:end;
}