*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.warwick{
    width: 20%;
    display: block;
    margin: 0 auto;

}
 .Jhins{
    width: 20%;
    display: block;
    margin: 0 auto;
    
}
.text{
    text-align: center;
}
.footer{
    text-align: center;
}

.obrazky{
    width: 10px;
    height: 20px;
    object-fit: cover;
}